---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import FeaturedResearch from '../components/FeaturedResearch.astro';
import Stats from '../components/Stats.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Digital Sociology - Research Portal">
	<Header />
	<main>
		<Hero />
		<FeaturedResearch />
		<Stats />
	</main>
	<Footer />
</Layout>